/*default settings*/
html {height: 100%;}
body, html {width:100%; min-height:100%; color:#555;font-family: "SFProDisplay,Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
body.overflow-hidden { overflow: hidden; }
body.full { height: 100%; }
*{box-sizing:border-box; margin:0; padding:0;}
*:focus {outline:none;}
fieldset, img {border:0;}
li{list-style:none;}
ol,dl,dt,dd,ul,li{ margin:0; padding:0;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
.relative{position:relative;}
input, textarea, select{font-family:inherit; font-size:inherit; font-weight:inherit; -webkit-appearance: none;/*去掉移动端阴影*/}
button{cursor: pointer;}
img{border:0; display:block;}

/*去掉chrome表单自动填充背景*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

h1,h2,h3,h4,h5{ padding:0; margin:0;}
p{ margin:0; padding:0;}
i,em{ font-style:normal;}

/*===========link===========*/
a, a:link, a:visited {color:#3660fc; text-decoration:none;}
a:hover{color: #7e99ff; text-decoration:none;}
a:active{color:#222; text-decoration:none;}

/*===========font===========*/
.hei{font-family:SimHei;}
.en{font-family:Georgia;}
.num{font-size:10px;}
.s{font-size:11px;}
.m{font-size:14px;}
.l{font-size:16px;}
.font12{font-size: 12px;}
.font14{font-size: 14px;}
.font16{font-size: 16px;}
.font18{font-size: 18px;}
.font20{font-size: 20px;}
.font24{font-size: 24px;}
.font28{font-size: 28px;}
.font32{font-size: 32px;}
.font36{font-size: 36px;}
strong, .b{font-weight:bold;}
.normal{font-weight:normal;}

/*===========control===========*/
.hide{display:none;}
.show{display:block;}
.hideText{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.clearfix:before, .clearfix:after { content: ""; display:table; } .clearfix:after { clear:both; overflow:hidden; } .clearfix { zoom:1; }
.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.align-center{text-align:center;}
.align-left{text-align: left;}
.align-right{text-align: right;}
.shadow{box-shadow:0 4px 15px rgba(0,0,0,0.35);}

/*===========padding patch===========*/
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt25{padding-top:25px;}
.pb10{padding-bottom:10px;}

/*===========margin patch===========*/
.ml5{ margin-left:5px;}
.ml6{ margin-left:6px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.mr5{ margin-right:5px;}
.mr6{ margin-right:6px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}

.mb5{margin-bottom:5px;}
.mb6{margin-bottom:6px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}